
<form class="uk-card uk-card-default uk-card-body uk-margin-top uk-form-stacked uk-width-1-1 uk-width-2-3@m uk-width-1-2@l" action='./login' method="POST">

    <legend class="uk-legend">
        <img src="/common/logo.png" alt="" style="height: 2em;">
        Bin Chicken Login
    </legend>

    {{#if errorMsg}}
        <span class="uk-text-danger">{{errorMsg}}</span>
    {{/if}}

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Username</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="login-username" name="login_username" type="text" placeholder="Pheme Number" value="{{username}}">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Password</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="login-password" name="login_password" type="password" placeholder="Pheme Password">
        </div>
    </div>

    <button class="uk-button uk-button-primary" type="submit">Login</button>

</form>